.flights {
    padding-top: 20px;
    padding-bottom: 10px;
}

.flightTable {
    border-collapse: collapse;
    margin: 20px;
    margin-bottom: 30px;
    min-width: 950px;
    padding-top: 20px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.4);
}

.flightTable thead tr {
    background-color: #26AB9F;
    color: #ffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    height: 47.5px;
}

.flightTable tbody td {
    font-weight: 600;
    padding: 11px 15px;
}

.flightTable tbody tr {
    font-size: 17.5px;
    border-bottom: 2px solid #c0c0c0;
    background-color: #ffffffff;
}

.flightTable tbody tr:nth-of-type(even) {
    background-color: #dcdcdc;
}

.flightTable tbody tr:last-of-type {
    border-bottom: 7px solid #26AB9F;
} 

.flightTable tbody tr:first-child {
    color: #BB870B;
}