/* Make a picture of a world map as the background */
/* Picture Source: https://www.art.com/products/p22969948945-sa-i7890700/andrey-kuzmin-aged-treasure-map-background.htm?savedConfig=true */
.flightInfo {
    background-image: url("./mapPic.jpg");
    background-size: 2000px 1500px;
    background-position-x: 50%;
    background-position-y: 60%;
    margin: 0 auto; 
    padding: 20px; 
    border: 1px dotted black;
    height: 85vh;
    overflow-y: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: #008140;
    padding: 20px 20px;
    height: 10px;
    color: white; 
    border-radius: 12px;
    display: block;
    line-height: 0px;
    font-size: 16px;
}

label {
    font-size: 20px;
}

#queryInput {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 120px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 7.5px;
}

#dateFormOne {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 150px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 35px;
    margin-right: 6.5px;
}

#dateFormTwo {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 150px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

#dayOne {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 3px;
    margin-right: 12px;
}

#dayTwo {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 3px;
    margin-right: 7.5px;
}

#currency {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 175px;
    height: 43px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 35px;
    margin-right: 32.5px;
}

#submitButton {
    background-color: #209086;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
