.flightInfo {
    background-image: url("./mapPic.jpg");
    background-size: 105% 145%;
    background-position-x: 60%;
    background-position-y: 57%;
    margin: 0 auto; 
    padding: 20px; 
    border: 1px dotted black;
    height: 85vh;
    overflow-y: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    background-color: #008140;
    padding: 20px 20px;
    height: 10px;
    color: white; 
    border-radius: 12px;
    display: block;
    line-height: 0px;
    font-size: 16px;
}

label {
    font-size: 20px;
}

#queryInput {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 175px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 7.5px;
}

#dateFormOne {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 175px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 6.5px;
}

#dateFormTwo {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 175px;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

#currency {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 175px;
    height: 43px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
    margin-right: 20px;
}

#submitButton {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
