.websiteInfo {
    margin-top: 2%;
    margin-bottom: 3%;
    width: 50%;
    height: 19%;
    background-color: white;
    border-radius: 15px;
    line-height: 120%;
    border: 3px solid #009879;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
}

.websiteInfo h3 {
    padding-top: 3px;
    margin: 10px;
}

.websiteInfo p {
    font-weight: 500;
    margin: 13px;
}

.websiteInfo span{
    color: #00b300;
}

.flightHeaders {
    margin: 0 auto;
    margin-top: 0px;
    font-family: "Helvetica", sans-serif;
    font-size: 21px;
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: 40px;
    width: 22%;
    height: 25px;
    color: white;
    background-color: #009879;
    border-radius: 15px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.35);
}